body{
    background-color: #6f6464;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

section{
    background-color: rgba(240, 255, 255, 0.893);
    border-radius: 10px;
    margin-top: 220px;
    width: 500px;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 10px;
}

#time, #temp {
    font-size: 1.2em;
    margin-top: 10px;
 }
 
.footer{
    font-weight: bold;
    margin-top: 400px;
}

